input, select {
  &.text {
    width: 362px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #F4F4F4;
    box-sizing: border-box;
    margin: 8px 20px 0;
    border: none;
  }

  &.button {
    width: 362px;
    height: 40px;
    border-radius: 4px;
    background: #F8BD1C;
    color: #FFF;
    font-family: Avenir;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    border: none;
    margin-top: auto;
  }

  &.file {
    margin-left: 20px;
  }
}

label {
  color: #000;
  font-family: Avenir;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 20px;
}

textarea {
  width: 362px;
  margin-left: 20px;
  padding: 8px 8px;
  min-height: 203px;
  resize: vertical;
  border-radius: 10px;
  background: #F4F4F4;
  border: none;
}

.field {
  margin: 33px 0;
}

.field_check_box {
  margin-left: 20px;
}

.actions {
  margin-top: 360px;
  display: flex;
  flex-direction: column;
	align-items: center;
}

.new_board_title{
  margin-top: 10px;
}
.new_board_label {
  margin-bottom: 8px;
}

.new_board_area {
  margin-top: 33px;
}

.profile_action {
  margin-top: 55px;
  display: flex;
  flex-direction: column;
	align-items: center;
}